/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#define BASE 0
#define NAVR 1
#define MOUR 2
#define MEDR 3
#define FUNL 4
#define NSL 5
#define NSSL 6
#define MCR 7
#define SYS 8

#define XXX &none
#define ___ &trans
/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &five_column_transform;
    };
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   | 
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R  &kp T          &kp Y        &kp U  &kp I      &kp O    &kp SQT     &kp BSPC
&kp LCTRL  &mt LGUI A  &mt LALT S  &mt LCTRL T     &mt LSHIFT F  &kp G          &kp H        &mt RSHIFT J  &mt RCTRL K      &mt LALT L    &mt RGUI SEMI  &kp SQT
&td0       &kp Z  &mt RALT X  &kp C     &kp V  &kp B          &kp N        &kp M  &kp COMMA  &mt RALT DOT  &kp FSLH  &kp ESC
                         &lt MEDR ESC  &lt NAVR SPACE  &lt MOUR TAB    &lt NSSL ENTER  &lt NSL BSPC  &lt FUNL DEL
            >;
        };

        navigate {
            display-name = "NAV";

            bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
   &trans        &bootloader    XXX          XXX            XXX           &kp XXX         &kp INS       &kp HOME      &kp UP         &kp END      &kp PG_UP    &kp BSPC
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   &trans        &kp LGUI       &kp LALT     &kp LCTRL     &bt LSHIFT    XXX              &kp CAPS      &kp LEFT      &kp DOWN      &kp RIGHT     &kp PG_DN      XXX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   &trans        XXX            &kp RALT     XXX           XXX            XXX             &kp K_REDO    &kp  LS(INS)  &kp LC(INS)   &kp LS(DEL)   &kp K_UNDO    XXX
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                             XXX             XXX            XXX           &kp ENTER          &kp BSPC          &kp DEL
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                            

            >;
        };
        mouse {
            display-name = "MOUSE";
			bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX           XXX           XXX           XXX           XXX           XXX             XXX           XXX           XXX           XXX           XXX           XXX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT     XXX             XXX           &kp RSHFT     &kp RCTRL     &kp LALT      &kp RGUI      XXX     
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           XXX           &kp RALT      XXX           XXX           XXX             &kp K_REDO    &kp  LS(INS)  &kp LC(INS)   &kp LS(DEL)   &kp K_UNDO    XXX         
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                              ___           ___           ___             ___           ___           ___                                      
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                            
            >;
        };

        media {
            display-name = "MEDIA";
			bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &bootloader   &rgb_ug RGB_HUI &rgb_ug RGB_EFF &rgb_ug  RGB_SAI &rgb_ug RGB_BRI XXX    &rgb_ug RGB_TOG &out OUT_BLE &kp C_VOL_UP &out OUT_USB  XXX           XXX          
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT     XXX             XXX           &kp C_PREV    &kp C_VOL_DN  &kp C_NEXT    XXX           XXX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           &rgb_ug RGB_HUD &kp RALT    &rgb_ug  RGB_SAD &rgb_ug RGB_BRD XXX        &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  XXX
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                              ___           ___           ___             &kp C_STOP    &kp C_PP      &kp C_MUTE                                               
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                            
            >;
        };

        num {
            display-name = "NUMBER";
			bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX           &kp LBKT      &kp N7        &kp N8        &kp N9        &kp RBKT        XXX           XXX           XXX           XXX           XXX           &bootloader
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           &kp P         &kp N4        &kp N5        &kp N6        &kp EQUAL       XXX           &kp RSHFT     &kp RCTRL     &kp LALT      &kp RGUI      XXX     
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           &kp GRAVE     &kp N1        &kp N2        &kp N3        &kp BSLH        XXX           XXX           XXX           &kp RALT      XXX           XXX
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                              &kp DOT       &kp N0        &kp MINUS       ___           ___           ___
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                            
            >;
        };

        sym {
            display-name = "SYMBOL";
			bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX           &kp LBRC      &kp AMPS      &kp ASTRK     &kp LPAR      &kp RBRC        XXX           XXX           XXX           XXX           XXX           &bootloader
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           &kp LS(P)     &kp DLLR      &kp PRCNT     &kp CARET     &kp PLUS        XXX           &kp RSHFT     &kp RCTRL     &kp LALT      &kp RGUI      XXX     
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           &kp TILDE     &kp EXCL      &kp AT        &kp HASH      &kp PIPE        XXX           XXX           XXX           &kp RALT      XXX           XXX
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                              &kp LPAR      &kp RPAR       &kp UNDER      ___           ___           ___
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                            
            >;
        };

        fn {
            display-name = "FUNC";
			bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX           &kp F12       &kp F7        &kp F8        &kp F9        &kp PSCRN       XXX           XXX           XXX           XXX           XXX           &bootloader
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           &kp F11       &kp F4        &kp F5        &kp F6        &kp SLCK        XXX           &kp RSHFT     &kp RCTRL     &kp LALT      &kp RGUI      XXX     
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           &kp F10       &kp F1        &kp F2        &kp F3        &kp PAUSE_BREAK XXX           XXX           XXX           XXX           &kp RALT      XXX
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                              &kp K_APP     &kp SPACE     &kp TAB         ___           ___           ___
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                            
            >;
        };

        vanilla {
			bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX           &kp Q         &kp W         &kp E         &kp R         &kp T           &kp Y         &kp U         &kp I         &kp O         &kp P       XXX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           &kp A         &kp S         &kp D         &kp F         &kp G           &kp H         &kp J          &kp K         &kp L         &kp SEMI      &kp SQT
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           &kp Z         &kp X         &kp C         &kp V         &kp B           &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      XXX
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                              &lt FUNL ESC    &kp SPACE     &kp TAB         &kp RET       &kp BSPC      &lt SYS DEL                           
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                            
            >;
        };

        sys {
			bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &to 0         &to 1         &to 8         XXX           XXX           XXX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           XXX           XXX           XXX           XXX           XXX             XXX           XXX           XXX           XXX           XXX           XXX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           &bt BT_CLR    &out OUT_BLE  &out OUT_USB  XXX           XXX             XXX           XXX           XXX           XXX           XXX           XXX
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                              XXX           XXX           XXX             XXX           XXX           XXX                                      
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                            
            >;
        };
     };
};
